QComboBox {
    background: rgb(180,180,180);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180,180,180);  
    border-radius: 4px;  
    font: monospace;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 1px;
}


QComboBox:hover {
    border-color: rgb(150,150,150);   
}

QComboBox:on {
    border-bottom-width: 3px;
    border-bottom-color: rgb(180,180,180);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

QComboBox::drop-down:on {
    border-bottom-right-radius: 0px;
}

QComboBox QAbstractItemView {
    color: rgb(0,0,0);
    background: rgb(180,180,180);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(150,150,150);
    selection-background-color: #d9d9d9;
    selection-color: rgb(25, 25, 25);
    }

QComboBox::drop-down {
    background: rgb(180,180,180);
}

QComboBox::down-arrow {
    background: rgb(180,180,180);
    width: 13px;
    height: 13px;
}

QComboBox::down-arrow:on {
    background-color: rgb(180,180,180);
    width: 13px;
    height: 13px;
}